{% extends 'base.html' %}
{% block title %} Gêneros {% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="card my-3">
      <h5 class="card-header">Pesquisar</h5>
      <form method="get" class="form-control">
        {{ genero_list.form }}
        <input type="submit" value="Pesquisar" class="btn btn-primary">
    </form>
    </div>
    <!-- Base da Tabela -->
    <div class="card my-3">
      <h5 class="card-header">Gêneros</h5>
      
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Cód. Gênero</th>
                <th>Gênero</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for genero in genero_list.qs %}
            <tr>
                <td><span class="badge badge-center bg-label-secondary">{{ genero.id_genero }}</span></td>
                <td>{{ genero.nome_genero }}</td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'url_update_genero' genero.id_genero %}"
                      ><i class="bx bx-edit-alt me-1"></i> Editar</a
                    >
                    <a class="dropdown-item" href="{% url 'url_delete_genero' genero.id_genero %}"
                      ><i class="bx bx-trash me-1"></i> Deletar</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Base da Tabela -->
    <a href="{% url 'url_criar_generos' %}" class="btn btn-primary">+ Adicionar novo gênero</a>
</div>
{% endblock content %}